<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
  <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
</head>

<body>
  <div class="d-flex">
    <header class=" bg-light vh-100 ">
      <a href="index.html">
        <img class="mb-42 ps-4 mt-40" src="./assets/images/logo-ANSWER.svg" alt="logo-ANSWER">
      </a>

      <ul class="nav flex-column fw-bold ">
        <li class="nav-item " data-aos="fade-up"      data-aos-duration="1500">
          <a class="nav-link ps-4 p-14 " aria-current="page" href="#">
            <i class="fa-solid fa-square-poll-vertical"></i>
            <span class="ms-3">Dashboard</span></a>
        </li>
        <li class="nav-item" data-aos="fade-up"      data-aos-duration="1500">
          <a class="nav-link ps-4 p-14 " aria-current="page" href="#">
            <i class="fa-solid fa-comments"></i>
            <span class="ms-3">Question</span></a>
        </li>
        <li class="nav-item" data-aos="fade-up"      data-aos-duration="1500">
          <a class="nav-link ps-4 p-14 " aria-current="page" href="index.html">
            <i class="fa-solid fa-file-lines"></i>
            <span class="ms-3">Assignment</span></a>
        </li>
        <li class="nav-item" data-aos="fade-up"      data-aos-duration="1500">
          <a class="nav-link ps-4 p-14 " aria-current="page" href="#">
            <i class="fa-brands fa-youtube"></i>
            <span class="ms-3">Course</span></a>
        </li>
        <li class="nav-item" data-aos="fade-up"      data-aos-duration="1500">
          <a class="nav-link ps-4 p-14 " aria-current="page" href="admin.html">
            <i class="fa-solid fa-users"></i>
            <span class="ms-3">Admin</span></a>
        </li>
        <li class="nav-item" data-aos="fade-up"      data-aos-duration="1500">
          <a class="nav-link ps-4 p-14 " aria-current="page" href="#">
            <i class="fa-solid fa-gear "></i>
            <span class="ms-3">settings</span></a>
        </li>
      </ul>

      <div class="nav-box2 d-flex align-items-center position-absolute bottom-0 start-0 ps-4 mb-4">
        <img class="  rounded-circle " style="width: 40px; height: 40px; " src="./assets/images/andychen.jpeg" alt="">
        <div class="nav-text w-50 ps-3 ">
          <h3 class="fw-bold fs-6 m-0">Andy Chen</h3>
          <p class="text-secondary m-0">andy0401@mail.com</p>
        </div>
      </div>

    </header>

    <%- contents %>

  </div>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>