<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="d-flex">
      <header class="header  bg-light pe-4 pt-40  w-25 vh-100 " >
        <div class="nav d-flex align-items-end">
          <div class="nav-box  mb-363  ml-32 ">
            <img src="./assets/images/logo-ANSWER.svg" alt="logo-ANSWER" class="mb-42">
            <ul class="text-dark fw-bold ps-0  ">
              <li class="mb-29">
                <i class="me-3"><img src="./assets/images/assessment_black_24dp.svg" alt=""></i>
                Dashboard
              </li>
              <li class="mb-29">
                <i class="me-3"><img src="./assets/images/question_answer_black_24dp.svg" alt=""></i>
                Question
              </li>
              <li class="mb-29">
                <a href="index.html">
                <i class="me-3"><img src="./assets/images/assignment_black_24dp.svg" alt=""></i>
                Assignment
                </a>
              </li>
              <li class="mb-29">
                <i class="me-3"><img src="./assets/images/video_library_black_24dp.svg" alt=""></i>
                Course
              </li>
              <li class="mb-29   ">
                <a href="admin.html">
                <i class="me-3"><img src="./assets/images/group_black_24dp.svg" alt=""></i>
                Admin
                </a>
              </li>
  
              <li class="mb-29">
                <i class="me-3"><img src="./assets/images/settings_black_24dp.svg" alt="">
                </i>Settings
              </li>
            </ul>
          </div>
          <div class="nav-box2 d-flex align-items-center position-absolute bottom-0 start-0 pl-32 mb-32" >
            <img class="  rounded-circle " style="width: 40px; height: 40px; "src="./assets/images/andychen.jpeg" alt="">
            <div class="nav-text w-50 pl-16 ">
              <h3 class="fw-bold fs-6 m-0">Andy Chen</h3>
              <p class="text-secondary m-0">andy0401@mail.com</p>
            </div>
          </div>
        </div>
      </header>

    <%- contents %>



    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>