// .ptb-19{
//   padding: 19px 0;
// }

// .pt-40{
//   padding-top: 40px;
// }



.ml-64{
  margin-left: 57px;
  
}

// .mr-48{
//   margin-right: 48px;
// }
.p-14{
  padding: 14px 0;
}
.mt-40{
  margin-top: 40px;
}
.mb-42{
  margin-bottom: 42px;
}


.fs-12{
  font-size: 12px;
  line-height: 24px;

}

.fs-14{
  font-size: 14px;
  line-height: 21px;

}
