.ptb-19{
  padding: 19px 0;
}

.pt-40{
  padding-top: 40px;
}

.pl-16{
  padding-left: 16px;
}

.ml-32{
  margin-left: 32px;
  
}

.mr-48{
  margin-right: 48px;
}
.mb-29{
  margin-bottom: 29px;
}
.mb-32{
  margin-bottom: 32px;
}
.mb-42{
  margin-bottom: 42px;
}



